h1{
  z-index: 100000;
  position: absolute;
	top:50%;
  left:10%;
  text-align: center;
  font-family : 'silkscreennormal';
}

#fadeawayonclick{
  position: absolute;
	top:45%;
  left:10%;
  text-align: center;
  font-family : 'silkscreennormal';
  z-index: 100000;
  opacity: 1;
}

