/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: silkscreennormal;
  src:url('assets/silkscreen_normal_macroman/slkscr-webfont.woff')
}
body, html {
	position: relative;
	overflow : hidden;
	height: 100%;
	width : 100%;
  margin: 0;
}

.fullsize{
    height : 100%;
    width : 100%;
    position: absolute;
    top : 0;
    left : 0;
  }

circle:hover {
  cursor: pointer;
}

.circle-follow {
  position :absolute;
  overflow : hidden;
  background-color: grey;
  width :100px;
  height: 100px;
  -webkit-border-radius: 160px;
  border-radius: 160px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  opacity: 0;
  mix-blend-mode: luminosity ;

}

.active-d3-item {
  opacity : 1;
}
